<section id="history" class="about-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="box-shadow-full">
                    <div class="row">
                        O devbagé é uma comunidade de TI da cidade de Bagé criada em 2018 com objetivo de fomentar o estudo de tecnologia na região e também facilitar a comunicação entre os bageenses da área que estão ao redor do mundo.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>